/*Normalize*/

* {
    padding: 0;
    margin: 0;
    border: 0;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

:focus,
:active {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:focus,
    &:active {
        outline: none;
    }
}

$backgroundColor: #9ff4f4;
$ligthColor: #fcf2e6;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: $backgroundColor;
}

.container {
    max-width: 102rem;
}

.slider {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 0.625rem);
    gap: 1rem;
}

.slider-item {
    height: 27rem;
    background-color: $ligthColor;
    list-style: none;
}

.img-block {
    margin: 1rem;
    object-fit: cover;
}

.arrow-button {
    font-size: 2rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    color: $ligthColor;
    background-color: $backgroundColor;
    border: 0.25rem solid $ligthColor;
    cursor: pointer;
    transition: all 1s ease-out;

    &:hover,
    &:focus {
        color: $backgroundColor;
        background-color: $ligthColor;
        border: none;
        transform: scale(1.1);
    }
}
