@import url('https://fonts.googleapis.com/css2?family=MonteCarlo&display=swap');

/*Normalize*/

* {
    padding: 0;
    margin: 0;
    border: 0;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

:focus,
:active {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;

    &:focus,
    &:active {
        outline: none;
    }
}

$backgroundColor: #7cd9d9;
$ligthColor: #fcf2e6;

@mixin position {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    @include position;
    font-size: 1.25rem;
    color: $ligthColor;
    background-color: $backgroundColor;
}

main {
    display: flex;
    align-items: center;
    padding: 2rem 0rem 6rem;
}

.container {
    overflow: hidden;
    position: relative;
    max-width: 102rem;
}

.slider {
    height: 28rem;
    display: flex;
    list-style: none;
    transition: transform 0.5s ease-in-out;
}

.slider-item {
    flex: 0 0 33.33%;
}

.img-block {
    padding: 0.9rem;
    margin-right: 0.7rem;
    object-fit: cover;
    background-color: $ligthColor;
}

.arrow-button {
    margin: 0rem 1rem;
    font-size: 2rem;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50%;
    color: $ligthColor;
    background-color: $backgroundColor;
    border: 0.25rem solid $ligthColor;
    cursor: pointer;
    transition: all 1s ease-out;

    &:hover,
    &:focus {
        color: $backgroundColor;
        background-color: $ligthColor;
        border: none;
        transform: scale(1.1);
    }
}

footer {
    @include position;
}

.author {
    font-family: 'MonteCarlo', cursive;
    color: $ligthColor;
}

@media screen and (max-width: 1400px) {
    .container {
        max-width: 68rem;
    }

    .slider-item {
        flex: 0 0 50%;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        max-width: 34rem;
    }

    .slider-item {
        flex: 0 0 100%;
    }

    .img-block {
        padding: 1;
        margin: 0.8rem;
    }
}

@media screen and (max-width: 700px) {
    main {
      display: flex;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }

    .container {
        order: 2; 
    }

    .arrow-button {
        margin-top: 1rem;
    }
}

@media screen and (max-width: 530px) {
    .container {
        display: flex;
        max-width:26rem;
    }

    .slider-item {
        flex: 0 0 100%;
    }

    .img-block {
        width:  0rem;
        padding: 0rem;
        margin-right: 5rem;
       
    }

}



@media screen and (max-width: 400px) {
    .container {
        max-width:20rem;
        margin-right: 1rem;
    }

    .slider img {
        width: 25rem;
        height: 18.75rem;
    }

    .img-block {
        margin-right: 5rem;
       
    }

    .arrow-button {
        margin-top: 0rem;
    }

}
